<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3dc2cb;">
  <a class="navbar-brand" href="#">
  <img src="assets/icons/Circle-icons-plane.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    LightSpeed Airlines
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!--START: Home Menu-->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" [routerLinkActive]="active">Home<span class="sr-only">(current)</span></a>
      </li>
      <!--END: Home Menu-->

      <!--START: Flight Operations Menu-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Flight Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownOperations">
          <a class="dropdown-item" href="#">Overview</a>
          <a class="dropdown-item" href="#">Create New Flight</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Add Airport</a>
          <a class="dropdown-item" routerLink="/addroute">Add Route</a>
        </div>
      </li>
      <!--END: Flight Operations Menu-->

      <!--START: Maintenance Menu-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMaintenance" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Maintenance
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Overview</a>
          <a class="dropdown-item" href="#">Work Orders</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Create New Work Order</a>
          <a class="dropdown-item" href="#">Parts Management</a>
        </div>
      </li>
      <!--END: Maintenance Menu-->

      <!--START: Fleet Menu-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFleet" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
          Fleet
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/fleet" [routerLinkActive]="active">View Fleet</a>
          <a class="dropdown-item" routerLink="/addaircraft">Add Aircraft</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Add Aircraft</a>
        </div>
      </li>
      <!--END: Fleet Menu-->

      <!--START: Ground Operations Menu-->
      <li class="nav-item">
        <a class="nav-link" href="#">Ground Operations</a>
      </li>
      <!--END: Ground Operations Menu-->

    </ul>

    <button type="button" class="btn btn-outline-primary" routerLink="/login">Login</button>

  </div>
</nav>

