<div class="wrapper">

  <app-navbar></app-navbar>


  <!--<div class="col-sm-2">-->
    <!--<app-navbar-leftside></app-navbar-leftside>-->
  <!--</div>-->

  <!--<div class="container-fluid">-->
    <!--<div class="row">-->

      <!--<main class="col">-->
        <!--<app-aircraft-list></app-aircraft-list>-->
      <!--</main>-->

    <!--</div> &lt;!&ndash; Row&ndash;&gt;-->
  <!--</div> &lt;!&ndash; Container-Fluid&ndash;&gt;-->

<div class="row" style="width: 100vw">

  <div id="navSidebar" class="col-sm-2 bg-primary" style="height: 100vh">

      <app-navbar-leftside></app-navbar-leftside>

  </div>

  <div id="mainContent" class="col-sm-10 bg-secondary" style="height: 100vh">
    <div class="container-fluid">
      <div class="row">
        <app-aircraft-list></app-aircraft-list>
      </div>
    </div>
  </div>

</div>

</div>
