<div class="container">

  <h3 class="display-4">Fleet: Add New Aircraft</h3>

  <hr/>
<div class="row">
  <div class="col-sm-6">

  <form action="#">
    <div class="form-group">
      <label for="manufacturer">Manufacturer</label>
      <input class="form-control" type="text" id="manufacturer" placeholder="Enter the manufacturer's name.">
    </div>
    <div class="form-group">
      <label for="model">Model</label>
      <input class="form-control" type="text" id="model" placeholder="Enter the model name.">
      <small class="form-text text-muted">Please enter the complete model name for the aircraft. i.e. 777-300ER</small>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="registration">Registration</label>
          <input class="form-control" type="text" id="registration" placeholder="Enter the registration tag.">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="fin">FIN</label>
          <input class="form-control" type="text" id="fin" placeholder="Enter the FIN tag.">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="date">Aircraft Manufacture Date</label>
      <input class="form-control" type="date" id="date">
      <small class="form-text text-muted">Please enter the aircraft's manufacture date. Format: YYYY-MM-DD</small>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="aircraftIATACode">Aircraft IATA Code</label>
          <input class="form-control" type="text" id="aircraftIATACode" placeholder="Enter the IATA code">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="aircraftICAOCode">Aircraft ICAO Code</label>
          <input class="form-control" type="text" id="aircraftICAOCode" placeholder="Enter the ICAO code">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  </div>

</div>
</div>
