<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Aircraft ID</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Model</th>
          <th scope="col">Registration</th>
          <th scope="col">FIN</th>
          <th scope="col">Manufacture Date</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let aircraft of aircrafts">
          <td>{{ aircraft.id }}</td>
          <td>{{ aircraft.manufacturer }}</td>
          <td>{{ aircraft.model }}</td>
          <td>{{ aircraft.registration }}</td>
          <td>{{ aircraft.fin }}</td>
          <td>{{ aircraft.manufactureDate }}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
